h1{
  border-color: #d3e644;
  border-style: dashed;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e9e9e9;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background: url('../img/MainBackground.png') no-repeat center center fixed;
  background-size: cover;
}

canvas {
  display: block;
  background-color: transparent;
}

.button-column {
  display: none;
  position: absolute;
  top: 45%; 
  left: 45%;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  align-items: center;
}

.button-column button {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
}